In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy.linalg import eig

In [4]:
Marks = np.array([[3,4], [2,8], [6,9]])
print(Marks)

[[3 4]
 [2 8]
 [6 9]]

In [5]:
Marks_df = pd.DataFrame(Marks,columns=["Physics","Maths"])
Marks_df

   Physics  Maths
0        3      4
1        2      8
2        6      9